/* 
declaration block:

selector{
    property: value;
    property2: value;
    
}
*/

body{
    background-color: red
    

}

nav{
    height: 600px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}

foster{
    text-align: center;
    margin-right: 200px;
}

#memeImage{
    Margin-right: 200px
}

h1{
    text-align: center;
}